 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OccuFind</title>
    <!--Ion Icons-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
    <!--Our own stylesheet-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.ico')}}" />
</head>
<body>

    <header>
      <div class="container">
        <nav>
          <div class="nav-brand">
            <a href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename = 'images/search-outline.svg') }}" alt="">
            </a>
          </div>

          <div class="menu-icons open">
            <i class="icon ion-md-menu"></i>
          </div>

          <ul class="nav-list">
            <div class="menu-icons close">
              <i class="icon ion-md-close"></i>
            </div>
            <li class="nav-item">
              <a href="{{ url_for('index') }}" class="nav-link current">Home</a>
            </li>
            <li class="nav-item">
              <a href="#main-message" class="nav-link">Look For A Job</a>
            </li>
            <li class="nav-item">
              <a href="#features" class="nav-link">Features</a>
            </li>
            <li class="nav-item">
              <a href="#testimonials" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
              <a href="#policy" class="nav-link">Our Policies</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>

      <section class="hero">
      <div class="container">
        <div class="main-message" id="main-message">
          <h3>The great website</h3>
          <h1>Occu Find</h1>
          <p>Welcome to Occufind. In times of The Great Depression, Unemployment rate exceeded 20%, we believe that OccuFind will be a great tool in combining the businesses and job demands of both local and professional sectors. If you're looking for a job, OccuFind is the best place for you!</p>
          <div class="cta">
              <a href="{{ url_for('signup') }}" class="btn">Sign Up</a>
              <a href="{{ url_for('signup') }}" class="btn">Login</a>
            </div>
          </div>
        </div>
      </section>

      <section class="experience">
        <div class="container">
          <div class="title-heading">
            <h3>Experience</h3>
            <h1>The thrilling website</h1>
            <p>Occufind is an Open-Source website that is easy to access for all. Find your dream job whith a click of a mouse based on your aspirations and accomplishments.</p>
  
          </div>

          <div class="features" id="features">
            
            <div class="features-item feature1">
              <i class="icon ion-md-star"></i>
              <h1>Find your perfect job match</h1>
              <p>OccuFind connects with users and provides a large variety of jobs ranging from a Plumber to a Data Scientist. It allows you to apply for 250+ jobs, matching your profile in a matter of seconds!</p>
            </div>

            <div class="features-item feature2">
              <i class="icon ion-md-compass"></i>
              <h1>Location Based jobs</h1>
              <p>You can apply for Jobs in your city, Country or Internationally based no your location.</p>
            </div>

            <div class="features-item feature3">
              <i class="icon ion-md-bonfire"></i>
              <h1>Job Alert Emails</h1>
              <p>You'll receive push notifications when your profile is viewed, or when new jobs appear in your most recent search, making it easy for you to jump right back into your job search.</p>
            </div>



          </div>
        </div>
      </section>



      <section id="testimonials">
        <div class="team-section">
          <h1>Our Team</h1>
          <span class="border"></span>
          <div class="ps">
            <a href="#"><img src="https://cdn.discordapp.com/attachments/738791184859660329/739803306745921646/A1E6A3EB-CE47-4B35-BE30-AC03F4E7F201.JPG" alt=""></a>
            <p class="titly">Parth Sethi</p>
            <a href="#"><img src="https://cdn.discordapp.com/attachments/738791184859660329/739805706303045692/61906345.png" alt=""></a>
            <p class="titly">Rushil Rawat</p>
            <a href="#"><img src="https://cdn.discordapp.com/attachments/738791184859660329/739786118496780320/ArghyaInstaDP.jpg" alt=""></a>
            <p class="titly">Arghya Shubhshiv</p>

          </div>
        </div>

        
      </section>




      <section class="begin-adventure" id="policy">
        <div class="container">
          <div class="title-heading">
            <h3>Let the</h3>
            <h1>adventure begin</h1>
            
            <p>Login if you already have an account, Sign Up if you are new to our site. Ensure that you read all the terms and conditions before signing up.</p>
  
          </div>
          
          <div class="adventure-grid">
            <div class="adventure-grid-item">
              <p>We use end-to-end encryption of your password to keep your data private while in transit and automatically block security threats from ever reaching you.</p>
            </div>

            <div class="adventure-grid-item">
              <p>We prevent unauthorized access to our systems to ensure that your data is secure with us. We offer a range of security features to help you protect your account</p>
            </div>
          </div>

          <a href="{{ url_for('signup') }}" class="btn">Sign Up</a>
          <a href="{{ url_for('signup') }}" class="btn">Log In</a>
        </div>
      </section>

    </main>

    <footer>
      <p>&copy; 2020 Occufind. All rights reserved</p>
    </footer>
    

    <script src="{{ url_for('static', filename='javascript/app.js') }}"></script>
</body>
</html>